@font-face {
  font-family: "Central Display DEMO";
  src: url(/fonts/CentralDisplayDemoExpanded-w1ql3.woff) format("woff");
}
@font-face {
  font-family: "Romance";
  src: url(/fonts/RomanceLogicDemo-Wy8BE.woff) format("woff");
}
@font-face {
  font-family: "Selga";
  src: url(/fonts/SelgaDemo-9Y3R7.woff) format("woff");
}
@font-face {
  font-family: "Mak";
  src: url(/fonts/MAK-bold.woff) format("woff");
}
@font-face {
  font-family: "Bagola";
  src: url(/fonts/Bagola-nR5zR.woff) format("woff");
}
@font-face {
  font-family: "Mogen";
  src: url(/fonts/MogenRegular-MVvOn.woff) format("woff");
}
html, body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  width: 5px;
}

::-moz-selection {
  background-color: #f9004d;
}

::selection {
  background-color: #f9004d;
}

.relative {
  position: relative;
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer;
}

.list-style-none {
  list-style: none;
}

.text-deco {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.white {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
  font-family: Poppins;
}

.big__nav {
  position: absolute;
  z-index: 101;
  width: 100vw;
  height: 100vh;
}

.the__big__nav {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.the__big__nav ul {
  width: 70%;
  height: 50vh;
  margin-bottom: 7rem;
}

.the__big__nav ul li {
  border-bottom: solid #ffffff 0.05rem;
  position: relative;
  z-index: 10;
}

.cross__close {
  position: absolute;
  right: -13%;
  top: -55%;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  mix-blend-mode: difference;
}
.cross__close:hover {
  background-color: white;
  color: black;
}
.cross__close i {
  color: white;
  font-size: 2rem;
  transition: all 0.5s ease-out;
}
.cross__close i:hover {
  color: black;
}

.the__big__nav ul li .link__module {
  display: flex;
  padding: 3rem 0 2rem 0;
  z-index: 10;
  justify-content: space-between;
}

.the__big__nav ul li .link__module span {
  /* display: block; */
  font-family: "Mogen";
  z-index: 10;
  mix-blend-mode: difference;
  display: inline-block;
  position: relative;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.the__big__nav ul li .link > img {
  mix-blend-mode: difference;
  z-index: 10;
}

.hover-reveal__00 {
  position: absolute;
  width: 25vw;
  height: 35vh;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
}

.hover-reveal__00 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  transition: transform 0.4s ease-out;
}

.hero__section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #3E464E;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  z-index: 3;
}

.blur__nav {
  width: 100%;
  height: 8vh;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.329) 0px 25px 20px -20px;
}

.hero__section .navigation {
  width: 90%;
  margin-left: 5%;
  height: 100%;
  place-items: center;
  text-align: center;
  font-size: 1.2rem;
  z-index: 20;
  font-family: "Bagola";
}

.hero__section .navigation .main__nav {
  width: 80%;
}

.nav__item {
  margin: 0 1.5rem;
  mix-blend-mode: difference;
}

.nav__item .nav__link {
  color: #ffffff;
  font-family: "KARA";
  transition: all 0.4s ease-out;
  border: none;
  padding: 5px;
  font-size: 1.3rem;
}

.nav__item a:hover {
  color: black;
  transform: scale(1.2);
}

.product__icon {
  width: 25vh;
  display: flex;
  transition: all 0.3s ease;
}

.three__icon {
  transition: all 0.3s ease-in-out;
}

.product__icon__logo {
  margin-right: 25px;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  border-radius: 50%;
  border: 1px solid black;
  padding: 4px;
  transition: all 0.3s ease;
}

.product__icon__logo:hover {
  color: white;
  background-color: black;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
}

.content .item {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: all 0.6s ease-out;
}
.content .item .text {
  position: absolute;
  left: 0;
  bottom: 14%;
  width: 50%;
  height: 7%;
  font-family: "Mak";
  color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 3;
  font-size: 0.86rem;
}
.content .item .text .text-inner {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  max-width: 10rem;
  padding: 17px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.18);
  overflow: hidden;
  z-index: 3;
  min-width: 7rem;
  border-radius: 1rem;
  transition: all 0.4s ease-out;
}
.content .item .text .text-inner:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.content .item .text .text-inner h2 {
  max-width: 8rem;
  z-index: 5;
  overflow: hidden;
}
.content .item .text .text-inner h2 a {
  color: white;
}

.content .item:hover {
  width: 250%;
}

.content .item img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

.sponsor__partners {
  width: 100%;
  height: 20vh;
  background-color: rgba(167, 123, 90, 0.8470588235);
  background-size: cover;
  background-position: center;
  font-family: "Romance";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(44, 44, 91, 0.296) 5px 30px 60px -12px inset, rgba(20, 15, 15, 0.29) 5px 18px 36px -18px inset;
}

.partners {
  display: flex;
  width: 60%;
  height: 80%;
}

.partner {
  width: 25%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.partner__name {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(211, 211, 211);
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.partner__name:hover {
  color: rgb(255, 255, 255);
  cursor: default;
}

.written {
  width: 100%;
  height: 210vh;
  background-color: #F2F3F6;
}

.upper__part__of__kylie {
  font-family: "mak";
  overflow: hidden;
  width: 100%;
  height: 80%;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.content__of__kylie__part {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cta {
  margin-top: 5rem;
  width: 80%;
  height: 70%;
  font-size: 1rem;
}
.cta .heading__belikekylie {
  text-align: center;
  font-size: 3rem;
}
.cta .heading__belikekylie .blk__head {
  letter-spacing: 1px;
  word-spacing: 1px;
  color: rgb(0, 0, 0);
}

.cta__item__img {
  z-index: 2;
  pointer-events: none;
  position: absolute;
  height: 12vh;
  max-height: 600px;
  opacity: 0;
  left: 8%;
  top: 10%;
  transform: scale(0);
}

.list__style__hover {
  font-style: "Mak";
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: all 0.6s ease-out;
  background-color: transparent;
}
.list__style__hover .items__of__the__kylie__hover {
  width: 90%;
  color: black;
}
.list__style__hover .items__of__the__kylie__hover .list__item__of__hover {
  border-bottom: solid #000000 0.09rem;
  position: relative;
  z-index: 10;
  list-style: none;
}
.list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link {
  transition: all 0.6s ease-out;
  display: flex;
  padding: 1rem 0 2rem 0;
  z-index: 10;
  justify-content: space-between;
}
.list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link > img {
  mix-blend-mode: difference;
  z-index: 10;
}
.list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link .hover-reveal {
  position: absolute;
  width: 17vw;
  height: 27vh;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
}
.list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link .hover-reveal img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  transition: transform 0.6s ease-out;
}
.list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link span {
  font-weight: 500;
  z-index: 10;
  mix-blend-mode: difference;
  display: inline-block;
  position: relative;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
.list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link span a, .list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link span a:hover, .list__style__hover .items__of__the__kylie__hover .list__item__of__hover .link span a:visited {
  text-decoration: none;
}

.hover__div__this {
  margin-top: 1rem;
  background-color: white;
  height: 56vh;
  width: 100%;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
.hover__div__this .center__the__thing {
  margin: 1.3rem 0;
  width: 92%;
  height: 40%;
  background-color: #D8C1AF;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.hover__div__this .center__the__thing .img__of__hill {
  position: relative;
  width: 50%;
  height: 100%;
}
.hover__div__this .center__the__thing .img__of__hill .buynow__of__red__hill {
  background-color: black;
  position: absolute;
  padding: 1rem;
  right: -70%;
  bottom: 33%;
  box-shadow: rgba(40, 40, 40, 0.17) 0px -23px 25px 0px inset, rgba(27, 27, 27, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.hover__div__this .center__the__thing .img__of__hill .red__hill {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  -o-object-fit: center;
     object-fit: center;
}

.big__img {
  width: 45%;
  height: 100%;
  overflow: hidden;
  background-image: url(/assets/kylie_janner_images/Kylie-Jenner-Wallpaper-Aug-2021-26.jpeg);
  background-size: cover;
  background-position: center;
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.big__img:hover {
  color: white;
}
.big__img .shop__now__button {
  width: 7rem;
  height: 4rem;
  margin-bottom: 13rem;
  border: 1px solid #f9004d;
  color: #f9004d;
  background-color: transparent;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: background-color 0.6s ease-out;
}
.big__img .shop__now__button:hover {
  background-color: #f9004d;
  color: white;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.big__img:hover {
  background-image: url(/assets/kylie_janner_images/imga-namekylie.png);
  background-size: cover;
  background-position: center;
}

.written .kylie__product__cards {
  width: 100%;
  height: 20%;
  background-color: #f3cdd0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__card {
  width: 20%;
  height: 80%;
  background-color: #F0F1F4;
  margin: 0 1rem;
  transition: all 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1254901961), -5px -5px 8px white;
}

.product__card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: scale(1.05) translateY(-0.8rem);
}

.pc__border {
  transition: all 0.5s ease-out;
  width: 96%;
  height: 96%;
  border-radius: 1px solid #e9e9e9;
  margin-top: 2%;
  margin-left: 2%;
  position: relative;
}
.pc__border .buying__option {
  width: 100%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.76);
  text-align: center;
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.pc__border .buying__option a {
  text-transform: uppercase;
  font-weight: 800;
  color: #050505;
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins";
  transition: all 0.6s ease-out;
}
.pc__border .buying__option a:hover {
  color: red;
  text-decoration: underline;
  transform: scale(1.2);
}

.short__pc__img {
  position: absolute;
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

.the__littlecenter {
  -o-object-position: top 30% left 50%;
     object-position: top 30% left 50%;
}

.video__section {
  outline: none;
  border: none;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.video__section .main__vid {
  position: relative;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: darken;
}

.background__filter {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgb(187, 187, 187);
  background: radial-gradient(circle, rgba(187, 187, 187, 0.077) 0%, rgba(46, 46, 46, 0.167) 20%, rgba(0, 0, 0, 0.57) 100%);
}

.quotes {
  width: 98%;
  height: 96%;
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: "Bagola";
  z-index: 4;
  top: 2%;
  left: 1%;
  text-align: center;
  border: 1px solid white;
}
.quotes .signup__button__btn {
  position: relative;
  top: 72%;
  left: 5.1%;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 19px;
  font-family: "Mak";
  border: 1px solid white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1254901961), -5px -5px 8px rgba(255, 255, 255, 0.411);
  font-size: 1.3rem;
  border-radius: 13px;
  transform: translate(-50%, -50%);
}
.quotes .signup__button__btn a {
  width: 200%;
  height: 200%;
}
.quotes .signup__button__btn:hover {
  color: black;
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -7px -7px 8px rgb(232, 232, 232);
}

.video__quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  line-height: 3.4rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.marquee__effect__next__vid {
  overflow: hidden;
  background-color: #171715;
  cursor: default;
  white-space: nowrap;
  padding: 10vh 0;
  box-shadow: inset 20px 0 22px hsla(0deg, 0%, 16%, 0.53), inset -4px 12px 22px hsl(0deg, 0%, 20%);
}

.effect__of__marquee {
  font-family: "Canopee";
  font-size: 12vh;
  position: relative;
  color: #b2afaa;
  display: inline-block;
  margin: 0 15%;
  padding: 0 15%;
  text-transform: uppercase;
  will-change: transform;
}

.the__k__pop__area {
  width: 100%;
  height: 180vh;
  overflow: hidden;
  transition: all 0.6s ease-out;
  z-index: -3;
}

.three__pic__collage {
  width: 86%;
  height: 70vh;
  margin-left: 7%;
  margin-top: 20vh;
  display: flex;
  flex-wrap: nowrap;
}

.contents__of__left {
  width: 25%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: "Romance";
  font-size: 1.2rem;
  font-weight: bolder;
  position: relative;
  z-index: 2;
}

.contents__of__left .writting__of__heading {
  margin-bottom: 1.2rem;
  position: absolute;
  top: 14%;
  left: 14%;
}

.contents__of__left p {
  width: 110%;
  position: absolute;
  top: 28%;
  left: 14%;
}

.main__three__images {
  width: 50%;
  height: 100%;
  position: relative;
}

.main__three__images .middle__of__kpop {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.main__three__images .circle__of__round {
  position: absolute;
  width: 200%;
  height: 200%;
  border: 1px solid black;
  border-radius: 50%;
  top: -60vh;
  left: -70vh;
  z-index: -1;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  filter: blur(10px);
}

.main__three__images .bottom__left {
  position: absolute;
  width: 45%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  bottom: -10%;
  left: -25%;
  -o-object-position: top;
     object-position: top;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.main__three__images .top__right {
  position: absolute;
  width: 45%;
  height: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  top: -15%;
  right: -22%;
  -o-object-position: top;
     object-position: top;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.little__info__right {
  width: 25%;
  height: 100%;
  text-align: start;
  position: relative;
  z-index: 3;
  font-weight: bolder;
}

.little__info__right p {
  position: absolute;
  bottom: 5rem;
  left: -4rem;
  width: 110%;
  text-align: end;
  font-family: "Romance";
  font-size: 1.2rem;
  font-weight: bolder;
}

.the__bottom__section__of__kpop {
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the__bottom__section__of__kpop .centering__the__items {
  width: 80%;
  height: 78vh;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  border-radius: 1rem;
  z-index: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items {
  width: 98%;
  height: 98%;
  display: flex;
  justify-content: center;
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .details__of__kpop {
  height: 88%;
  width: 32%;
  background-color: #ffffff;
  border-radius: 2rem;
  color: black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1254901961), -5px -5px 8px white;
  transition: all 0.1s ease-out;
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .details__of__kpop:hover {
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
  background: #fff;
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .first__half__div {
  width: 68%;
  height: 88%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: all 0.6s ease-out;
  align-items: center;
  justify-content: center;
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .first__half__div .upper__right__div {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 98%;
  height: 48%;
  transition: all 0.6s ease-out;
  background-position: center;
  filter: blur(1px);
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .first__half__div .upper__right__div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .first__half__div .upper__right__div:hover {
  height: 90%;
  filter: blur(0);
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .first__half__div .lower__right__div {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 98%;
  height: 48%;
  transition: all 0.6s ease-out;
  background-position: center;
  filter: blur(1px);
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .first__half__div .lower__right__div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.the__bottom__section__of__kpop .centering__the__items .again__centering__the__items .first__half__div .lower__right__div:hover {
  height: 90%;
  filter: blur(0);
}

.your__star__section {
  width: 100%;
  height: 101vh;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.little__hero__section {
  width: 100%;
  height: 100vh;
  display: flex;
  border-radius: 1rem;
}
.little__hero__section .left__side__green {
  width: 50%;
  height: 100%;
  background-color: rgba(14, 4, 2, 0.9568627451);
  position: relative;
  border-radius: 25px 0 0 25px;
}
.little__hero__section .left__side__green img {
  position: absolute;
  width: 80%;
  height: 110%;
  left: 57%;
  top: 8%;
  z-index: 10;
}
.little__hero__section .left__side__green .shadows__of__feet {
  width: 50px;
  height: 10px;
  background-color: rgba(70, 70, 70, 0.4705882353);
  position: absolute;
  bottom: -2.5%;
  left: 74%;
  border-radius: 50%;
  filter: blur(3px);
}
.little__hero__section .left__side__green .details__of__left__side {
  width: 70%;
  height: 80%;
  color: white;
  position: absolute;
  top: 10%;
  left: 14%;
  flex-direction: column;
  justify-content: center;
}
.little__hero__section .left__side__green .details__of__left__side .middle__written {
  font-family: "Romance";
  font-weight: thin;
  font-size: 0.8rem;
  width: 60%;
  margin-bottom: 15rem;
  margin-top: 1.5rem;
  position: relative;
}
.little__hero__section .left__side__green .details__of__left__side .middle__written .circle__full {
  position: absolute;
  color: #190F0D;
  background-color: white;
  width: 20%;
  top: 10%;
  right: 10%;
  height: 20%;
  border-radius: 50%;
}
.little__hero__section .left__side__green .details__of__left__side .button__your__stars {
  width: 30%;
  height: 10%;
  outline: none;
  border: none;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.6s ease-out;
}
.little__hero__section .left__side__green .details__of__left__side .button__your__stars:hover {
  background-color: rgb(125, 106, 106);
}
.little__hero__section .left__side__green .details__of__left__side .upper__writting__part {
  margin-top: 3rem;
  font-family: "Romance";
  line-height: 35px;
}
.little__hero__section .left__side__green .details__of__left__side .upper__writting__part .big__h1 {
  font-size: 3.1rem;
  font-weight: bolder;
}
.little__hero__section .left__side__green .details__of__left__side .upper__writting__part .small__h1 {
  font-size: 1.4rem;
}
.little__hero__section .right__side__magenta {
  width: 50%;
  height: 100%;
  background-color: #c1c0be;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.little__hero__section .right__side__magenta .wrapper {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.little__hero__section .right__side__magenta .hero-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 0.7rem;
  border-radius: 1.2rem;
  color: black;
}
.little__hero__section .right__side__magenta .hero-title:hover {
  color: black;
  background-color: white;
  transform: translateY(-5px);
  border: 1px solid white;
}
.little__hero__section .right__side__magenta .hero-title:hover h1 a:hover {
  color: black;
}

.footer {
  width: 100%;
  height: 46vh;
  font-family: "KENOKY";
  font-size: 1rem;
  background-color: #cfcfcf;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.footer__section {
  width: 98%;
  height: 92%;
  border-radius: 1.1rem;
  mix-blend-mode: darken;
  background-image: url(/assets/video/footer.gif);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer__details {
  width: 90%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__items {
  width: 100%;
  height: 90%;
  color: rgb(164, 164, 164);
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease-out;
}

.footer__item h2:hover {
  color: white;
}

.footer__item ul li:hover {
  color: white;
  mix-blend-mode: difference;
}

.footer__copy {
  width: 100%;
  height: 10%;
  text-align: center;
  color: rgb(164, 164, 164);
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  transition: all 0.5s ease-out;
}

.footer__copy:hover {
  color: white;
}

.footer__item {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 20px;
  cursor: pointer;
}

.footer__title {
  font-size: 1.2rem;
  color: rgb(245, 243, 243);
  margin-bottom: 1.4rem;
  font-weight: bolder;
}

.footer__ul {
  list-style: none;
}

.social ul li {
  margin-bottom: 10px;
}

.social ul li input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid white;
  padding: 5px;
  color: white;
}

.subscribe__btn {
  background-color: white;
  border: 1px solid white;
  border-radius: 2rem;
  color: black;
  text-align: center;
  font-weight: bolder;
}

.socials i {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */